html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: black;
  color: whitesmoke;
  font-family: monospace;
}

main {
  margin: 0 auto;
  width: fit-content;
}

a:any-link {
  color: gray;
  text-decoration: underline;
}

a:hover {
  color: whitesmoke;
}

.interpreter {
  border: 1px gray solid;
}

.games {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
}

.games a {
  float: left;
  margin-inline-end: 1em;
  margin-block-end: 1em;
}
